.collections {
  padding-top: 100px;
  letter-spacing: 0.48px;
  color: var(--color-light-black);

  @include macbook {
    padding-top: 20px;
  }

  &__title {
    margin: 0;
    margin-bottom: 73px;
    font-weight: 400;
    font-size: 64px;
    line-height: 1;
    text-align: center;

    @include macbook {
      margin-bottom: 40px;
      font-size: 52px;
    }

    @include mobile-l {
      font-size: 42px;
    }

    @include mobile-m {
      font-size: 38px;
    }
  }

  &__inner-articles {
    margin-bottom: 64px;

    @include macbook {
      margin-bottom: 20px;
    }

    @include mobile-l {
      margin-bottom: 0;
    }
  }

  &__list {
    @include flex-sb;

    @include mobile-m {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  &__item {
    width: 100%;
    max-width: 358px;

    @include for-desktop {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    @include mobile-m {
      max-width: 160px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }

    @include mobile-s {
      max-width: none;
    }
  }

  &__article-image {
    margin-bottom: 29px;

    @include mobile-m {
      width: 100%;
      margin-bottom: 12px;
    }
  }

  &__article-subtitle {
    margin: 0;
    margin-bottom: 37px;
    padding-left: 50px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1;
    color: var(--color-light-black);

    @include macbook {
      padding-left: 0;
    }

    @include mobile-l {
      text-align: center;
    }

    @include mobile-m {
      margin-bottom: 20px;
    }

    @include mobile-s {
      margin-bottom: 15px;
    }
  }

  &__btn {
    @include flex;
  }

  &__btn-link {
    margin: 0 auto;
    padding: 12px 40px 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    color: var(--color-white);
    background-color: var(--color-light-black);
    transition: background-color 0.5s ease-in-out;

    &:hover {
      padding: 12px 39px 14px;
      color: var(--color-black);
      border: 1px solid var(--color-black);
      background-color: var(--color-white);
    }
  }
}
