<section class="collections">
  <div class="container">
    <div class="collections__inner">
      <h2 class="collections__title" data-aos="fade-up" data-aos-duration="3000" data-aos-delay="1000">
        Browse by Collections
      </h2>
      <div class="collections__inner-articles">
        <ul class="collections__list list-reset">
          <li class="collections__item">
            <a class="collections__article" href="#">
              <picture>
                <source srcset="img/collections-collectibles.avif" type="image/avif">
                <source srcset="img/collections-collectibles.webp" type="image/webp">
                <img class="collections__article-image" src="img/collections-collectibles.png" width="358"
                  loading="lazy" alt="collections collectibles item image" data-aos="zoom-in" data-aos-duration="3000"
                  data-aos-delay="1000">
              </picture>
              <h3 class="collections__article-subtitle">
                Collectibles
              </h3>
            </a>
          </li>
          <li class="collections__item">
            <a class="collections__item-link" href="#">
              <picture>
                <source srcset="img/collections-art.avif" type="image/avif">
                <source srcset="img/collections-art.webp" type="image/webp">
                <img class="collections__article-image" src="img/collections-art.png" width="358" loading="lazy"
                  alt="collections art item image" data-aos="zoom-in" data-aos-duration="3000" data-aos-delay="1000">
              </picture>
              <h3 class="collections__article-subtitle">
                Art
              </h3>
            </a>
          </li>
          <li class="collections__item">
            <a class="collections__item-link" href="#">
              <picture>
                <source srcset="img/collections-photography.avif" type="image/avif">
                <source srcset="img/collections-photography.webp" type="image/webp">
                <img class="collections__article-image" src="img/collections-photography.png" width="358" loading="lazy"
                  alt="collections photography item image" data-aos="zoom-in" data-aos-duration="3000"
                  data-aos-delay="1000">
              </picture>
              <h3 class="collections__article-subtitle">
                Photography
              </h3>
            </a>
          </li>
        </ul>
      </div>
      <div class="collections__btn">
        <a class="collections__btn-link" href="#" data-aos="zoom-out" data-aos-duration="3000"
          data-aos-delay="1000">View all</a>
      </div>
    </div>
  </div>
</section>
