<section class="collections">
  <div class="container">


    <div class="collections__inner">
      <h2 class="collections__title">
        Browse by Collections
      </h2>
      <div class="collections__inner-articles">
        <ul class="collections__list list-reset">
          <li class="collections__item">
            <a class="collections__article" href="#">
              <img class="collections__article-image" src="img/collections-collectibles.png" width="358"
                alt="collections collectibles item image">
              <h3 class="collections__article-subtitle">
                Collectibles
              </h3>
            </a>
          </li>
          <li class="collections__item">
            <a class="collections__item-link" href="#">
              <img class="collections__article-image" src="img/collections-art.png" width="358"
                alt="collections art item image">
              <h3 class="collections__article-subtitle">
                Art
              </h3>
            </a>
          </li>
          <li class="collections__item">
            <a class="collections__item-link" href="#">
              <img class="collections__article-image" src="img/collections-photography.png" width="358"
                alt="collections photography item image">
              <h3 class="collections__article-subtitle">
                Photography
              </h3>
            </a>
          </li>
        </ul>
      </div>
      <div class="collections__btn">
        <a class="collections__btn-link" href="#">View all</a>
      </div>
    </div>


  </div>
</section>
