<section class="faq">
  <div class="container">
    <div class="faq__inner">
      <h2 class="faq__title">
        faq
      </h2>
      <ul class="faq__list list-reset">
        <li class="faq__list-item">
          <details>
            <summary class="faq__list-item-position">
              <p class="faq__item-text">
                Donec posuere massa nec arcu scelerisque, blandit mattis justo blandit
              </p>
            </summary>
            <p class="faq__item-descr">
              Donec posuere massa nec arcu scelerisque, blandit mattis justo blandit
            </p>
          </details>
        </li>
        <li class="faq__list-item">
          <details>
            <summary class="faq__list-item-position">
              <p class="faq__item-text">
                Quisque at justo semper, faucibus eros sit amet, scelerisque lorem.
              </p>
            </summary>
            <p class="faq__item-descr">
              Quisque at justo semper, faucibus eros sit amet, scelerisque lorem.
            </p>
          </details>
        </li>
        <li class="faq__list-item">
          <details>
            <summary class="faq__list-item-position">
              <p class="faq__item-text">
                Nulla eget justo at eros varius consequat.
              </p>
            </summary>
            <p class="faq__item-descr">
              Nulla eget justo at eros varius consequat.
            </p>
          </details>
        </li>
        <li class="faq__list-item">
          <details>
            <summary class="faq__list-item-position">
              <p class="faq__item-text">
                Vivamus non nibh quis massa laoreet semper et eu quam
              </p>
            </summary>
            <p class="faq__item-descr">
              Vivamus non nibh quis massa laoreet semper et eu quam
            </p>
          </details>
        </li>
        <li class="faq__list-item">
          <details>
            <summary class="faq__list-item-position">
              <p class="faq__item-text">
                Morbi quis nisi tempus, mollis turpis ut, mollis massa.
              </p>
            </summary>
            <p class="faq__item-descr">
              Morbi quis nisi tempus, mollis turpis ut, mollis massa.
            </p>
          </details>
        </li>
      </ul>
    </div>
  </div>
</section>
