<footer class="footer">
  <div class="container">


    <div class="footer__inner">

      <div class="footer__community">
        <a class="footer__logo logo" href="#">
          <img src="img/logo.svg" width="138" alt="footer site logo">
        </a>
        <span class="footer__community-subtitle">
          Join the community
        </span>
        <ul class="footer__community-list list-reset">
          <li class="footer__community-item">
            <a class="footer__community-icon" href="#">
              <svg class="header__item-icon--twitter">
                <use xlink:href="img/sprite.svg#header-icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="footer__community-item">
            <a class="footer__community-icon" href="#">
              <svg class="header__item-icon--instagram">
                <use xlink:href="img/sprite.svg#header-icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__community-item">
            <a class="footer__community-icon" href="#">
              <svg class="header__item-icon--facebook">
                <use xlink:href="img/sprite.svg#header-icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__site-link">
        <ul class="footer__list list-reset">
          <li class="footer__list-item footer__list-item--subtitle">
            <span class="footer__list-subtitle">Site</span>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link header__item-link" href="#">About us</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link footer__list-link--upper header__item-link" href="#">nft<span>s</span></a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link header__item-link" href="#">Contact</a>
          </li>
        </ul>
      </div>

      <div class="footer__site-utility">
        <ul class="footer__list list-reset">
          <li class="footer__list-item footer__list-item--subtitle">
            <span class="footer__list-subtitle">Utility</span>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link header__item-link" href="#">Style guide</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link header__item-link" href="#">Lincensing</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link header__item-link" href="#">404</a>
          </li>
        </ul>
      </div>

      <div class="footer__form-inner">
        <form class="footer__form">
          <h4 class="footer__form-subtitle">
            Stay in the loop
          </h4>
          <p class="footer__form-text">
            Suspendisse sem neque, auctor a elementum ut, varius vel leo. Donec diam arcu, porta et magna at
          </p>
          <label class="footer__form-label">
            <input class="footer__input" placeholder="Your email address" type="email">
          </label>
          <button class="footer__input-btn" type="submit">Sign up</button>
        </form>
      </div>

    </div>

    <div class="footer__copyright-inner">
      <small class="footer__copyright">© 2022 All rights reserved.</small>

      <div class="footer__created-inner">
        <span class="footer__created-by">Created By</span>
        <a class="footer__created-link" href="#">Udesly</a>
        <span class="footer__powered-by">Powered By</span>
        <a class="footer__powered-link" href="#">Webflow</a>
      </div>
    </div>


  </div>
</footer>
