<header class="header">
  <div class="container">


    <nav class="header__nav">

      <ul class="header__list-left list-reset">
        <li class="header__item">
          <a class="header__item-link logo" href="#">
            <img src="img/logo.svg" width="94" alt="site logo">
          </a>
        </li>
        <li class="header__item">
          <a class="header__item-link" href="#">
            About us
          </a>
        </li>
        <li class="header__item header__item--big">
          <a class="header__item-link" href="#">
            nft<span>s</span>
          </a>
        </li>
        <li class="header__item">
          <a class="header__item-link" href="#">
            Contact
          </a>
        </li>
      </ul>

      <div class="header__inner-right">
        <ul class="header__list-right list-reset">
          <li class="header__item-right">
            <a class="header__item-icon" href="#">
              <svg class="header__item-icon--twitter">
                <use xlink:href="img/sprite.svg#header-icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="header__item-right">
            <a class="header__item-icon" href="#">
              <svg class="header__item-icon--instagram">
                <use xlink:href="img/sprite.svg#header-icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="header__item-right">
            <a class="header__item-icon" href="#">
              <svg class="header__item-icon--facebook">
                <use xlink:href="img/sprite.svg#header-icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="header__item-right header__item-right--btn">
            <a class="header__item-btn" href="#">View on OpenSea</a>
          </li>
        </ul>
      </div>

    </nav>


  </div>
</header>
