<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a class="header__item-link logo" href="#">
        <img class="animate__animated animate__bounceInDown animate__slow" src="img/logo.svg" width="94" loading="lazy"
          alt="site logo" data-aos="fade-down" data-aos-duration="5000">
      </a>
      <ul class="header__list list-reset">
        <li class="header__item">
          <a class="header__item-link" href="#">
            About us
          </a>
        </li>
        <li class="header__item header__item--big">
          <a class="header__item-link" href="#">
            nft<span>s</span>
          </a>
        </li>
        <li class="header__item">
          <a class="header__item-link" href="#">
            Contact
          </a>
        </li>
        <div class="header__item-icon-inner">
          <li class="header__item">
            <a class="header__item-icon" href="#" aria-label="link icon to twitter">
              <svg class="header__item-icon--twitter" data-aos="fade-down-right" data-aos-duration="5000">
                <use xlink:href="img/sprite.svg#header-icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="header__item">
            <a class="header__item-icon" href="#" aria-label="link icon to instagram">
              <svg class="header__item-icon--instagram" data-aos="fade-down" data-aos-duration="1500"
                data-aos-delay="2000">
                <use xlink:href="img/sprite.svg#header-icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="header__item header__item--right">
            <a class="header__item-icon" href="#" aria-label="link icon to facebook">
              <svg class="header__item-icon--facebook" data-aos="fade-down" data-aos-duration="2500">
                <use xlink:href="img/sprite.svg#header-icon-facebook"></use>
              </svg>
            </a>
          </li>
        </div>
        <a class="header__item-btn header__item--btn" href="#" data-aos="zoom-out" data-aos-duration="2500">View on
          OpenSea</a>
      </ul>
      <button class="hamburger hamburger--elastic" type="button" aria-label="menu button navigation"
        aria-controls="navigation">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
        <span class="hamburger-label">menu</span>
      </button>
    </nav>
  </div>
</header>
