<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__inner-left" data-aos="fade-right" data-aos-duration="3000">
        <span class="hero__subtitle" data-aos="fade-right" data-aos-duration="3000">
          extraordinary nft<span>s</span>
        </span>
        <h1 class="hero__title" data-aos="fade-right" data-aos-duration="3000">
          Change your Digital Experience
        </h1>
        <p class="hero__text" data-aos="fade-right" data-aos-duration="3000">
          Suspendisse sem neque, auctor a elementum ut, varius vel leo. Donec diam arcu, porta et magna at
        </p>
      </div>
      <div class="hero__inner-right">
        <picture>
          <source srcset="img/hero-boy.avif" type="image/avif">
          <source srcset="img/hero-boy.webp" type="image/webp">
          <img class="hero__img-boy" data-aos="zoom-out-up" data-aos-duration="3000" src="img/hero-boy.png" width="365"
            loading="lazy" alt="nft image project author lee stone">
        </picture>
        <picture>
          <source srcset="img/hero-girl.avif" type="image/avif">
          <source srcset="img/hero-girl.webp" type="image/webp">
          <img class="hero__img-girl" data-aos="fade-left" data-aos-duration="2500" src="img/hero-girl.png" width="495"
            loading="lazy" alt="nft image digital creator project mia potter">
        </picture>
      </div>
    </div>
  </div>
</section>
