<section class="hero">
  <div class="container">


    <div class="hero__inner">
      <div class="hero__inner-left">
        <span class="hero__subtitle">
          extraordinary nft<span>s</span>
        </span>
        <h1 class="hero__title">
          Change your Digital Experience
        </h1>
        <p class="hero__text">
          Suspendisse sem neque, auctor a elementum ut, varius vel leo. Donec diam arcu, porta et magna at
        </p>
      </div>

      <div class="hero__inner-right">
        <img class="hero__img-boy" src="img/hero-boy.png" width="365" alt="nft image project author lee stone">
        <img class="hero__img-girl" src="img/hero-girl.png" width="495"
          alt="nft image digital creator project mia potter">
      </div>
    </div>


  </div>
</section>
