<section class="hey">
  <picture>
    <source srcset="img/hey-top-img.avif" type="image/avif">
    <source srcset="img/hey-top-img.webp" type="image/webp">
    <img class="hey__top-img" src="img/hey-top-img.png" width="1440" loading="lazy" alt="random images nfts">
  </picture>
  <div class="container">
    <div class="hey__inner-top" data-aos="fade-up" data-aos-duration="2500">
      <h2 class="hey__top-title">
        Hey there, we are
      </h2>
      <p class="hey__top-text">
        Suspendisse sem neque, auctor a elementum ut, varius vel leo. Donec diam arcu, porta et magna at
      </p>
    </div>
    <div class="hey__inner-bottom swiper" data-aos="fade-up" data-aos-duration="2500">
      <div class="swiper-pagination hey__btn-inner">
        <span class="hey__btn-artist hey__btn-artist--jack swiper-pagination-bullet">Jack</span>
        <span class="hey__btn-artist hey__btn-artist--suni swiper-pagination-bullet">Suni</span>
        <span class="hey__btn-artist hey__btn-artist--colin swiper-pagination-bullet">Colin</span>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="hey__artist-item">
            <img class="hey__jack-image" src="img/hey-jack-img.png" width="552" loading="lazy"
              alt="nft artist jack image">
            <div class="hey__jack-info">
              <span class="hey__jack-subtitle">Digital Artist</span>
              <h3 class="hey__jack-title">
                Pellentesque blandit
                in quam rhoncus
              </h3>
              <p class="hey__jack-text">
                Suspendisse ante mauris, volutpat congue sem ac, ultrices tempor lorem. Nullam eget vehicula tellus,
                ac
                consectetur urna. Mauris tincidunt, libero id ultrices tincidunt, mi leo pharetra dolor, sed luctus
                dui
                ipsum et augue. Integer non quam feugiat, porttitor libero a, tempor neque. Nulla ac orci mauris.
                Quisque
                nisi nisl, rutrum ac diam et, semper commodo quam
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hey__artist-item">
            <img class="hey__jack-image" src="img/hey-jack-img.png" width="552" loading="lazy"
              alt="nft artist jack image">
            <div class="hey__jack-info">
              <span class="hey__jack-subtitle">Digital Artist</span>
              <h3 class="hey__jack-title">
                Pellentesque blandit
                in quam rhoncus
              </h3>
              <p class="hey__jack-text">
                Suspendisse ante mauris, volutpat congue sem ac, ultrices tempor lorem. Nullam eget vehicula tellus,
                ac
                consectetur urna. Mauris tincidunt, libero id ultrices tincidunt, mi leo pharetra dolor, sed luctus
                dui
                ipsum et augue. Integer non quam feugiat, porttitor libero a, tempor neque. Nulla ac orci mauris.
                Quisque
                nisi nisl, rutrum ac diam et, semper commodo quam
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hey__artist-item">
            <img class="hey__jack-image" src="img/hey-jack-img.png" width="552" loading="lazy"
              alt="nft artist jack image">
            <div class="hey__jack-info">
              <span class="hey__jack-subtitle">Digital Artist</span>
              <h3 class="hey__jack-title">
                Pellentesque blandit
                in quam rhoncus
              </h3>
              <p class="hey__jack-text">
                Suspendisse ante mauris, volutpat congue sem ac, ultrices tempor lorem. Nullam eget vehicula tellus,
                ac
                consectetur urna. Mauris tincidunt, libero id ultrices tincidunt, mi leo pharetra dolor, sed luctus
                dui
                ipsum et augue. Integer non quam feugiat, porttitor libero a, tempor neque. Nulla ac orci mauris.
                Quisque
                nisi nisl, rutrum ac diam et, semper commodo quam
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
