<section class="top">
  <div class="container">


    <div class="top__inner">
      <h2 class="top__title">
        Top<span>nft</span>
      </h2>
      <div class="top__list-inner">
        <ul class="top__list list-reset">

          <li class="top__item">
            <img class="top__item-img" src="img/top-bear.png" width="332" alt="image top nft white bear">
            <div class="top__info-inner">
              <div class="top__info-left">
                <span class="top__name">
                  White Bear
                </span>
                <span class="top__number">#54385</span>
              </div>
              <div class="top__info-right">
                <button class="top__visible" type="button"></button>
                <button class="top__lock" type="button"></button>
              </div>
            </div>
          </li>
          <li class="top__item">
            <img class="top__item-img" src="img/top-luca.png" width="332" alt="image top nft happy luca">
            <div class="top__info-inner">
              <div class="top__info-left">
                <span class="top__name">
                  Happy Luca
                </span>
                <span class="top__number">#54395</span>
              </div>
              <div class="top__info-right">
                <button class="top__visible" type="button"></button>
                <button class="top__lock" type="button"></button>
              </div>
            </div>
          </li>
          <li class="top__item">
            <img class="top__item-img" src="img/top-dodo.png" width="332" alt="image top nft dodo">
            <div class="top__info-inner">
              <div class="top__info-left">
                <span class="top__name">
                  Dodo
                </span>
                <span class="top__number">#54376</span>
              </div>
              <div class="top__info-right">
                <button class="top__visible" type="button"></button>
                <button class="top__lock" type="button"></button>
              </div>
            </div>
          </li>
          <li class="top__item">
            <img class="top__item-img" src="img/top-nano.png" width="332" alt="image top nft nano nano">
            <div class="top__info-inner">
              <div class="top__info-left">
                <span class="top__name">
                  Nano Nano
                </span>
                <span class="top__number">#54348</span>
              </div>
              <div class="top__info-right">
                <button class="top__visible" type="button"></button>
                <button class="top__lock" type="button"></button>
              </div>
            </div>
          </li>
          <li class="top__item">
            <img class="top__item-img" src="img/top-zombie.png" width="332" alt="image top nft zombie">
            <div class="top__info-inner">
              <div class="top__info-left">
                <span class="top__name">
                  Zombie
                </span>
                <span class="top__number">#54337</span>
              </div>
              <div class="top__info-right">
                <button class="top__visible" type="button"></button>
                <button class="top__lock" type="button"></button>
              </div>
            </div>
          </li>
          <li class="top__item">
            <img class="top__item-img" src="img/top-devil.png" width="332" alt="image top nft pink devil">
            <div class="top__info-inner">
              <div class="top__info-left">
                <span class="top__name">
                  Pink Devil
                </span>
                <span class="top__number">#54392</span>
              </div>
              <div class="top__info-right">
                <button class="top__visible" type="button"></button>
                <button class="top__lock" type="button"></button>
              </div>
            </div>
          </li>

        </ul>
      </div>

      <div class="top__btn">
        <a class="top__btn-link" href="#">View all</a>
      </div>
    </div>


  </div>
</section>
