<section class="work">
  <div class="container">
    <div class="work__top-inner">
      <picture>
        <source srcset="img/work-img-top.avif" type="image/avif">
        <source srcset="img/work-img-top.webp" type="image/webp">
        <source srcset="img/work-img-top.jpg">
        <img class="work__top-img" src="img/work-img-top.jpg" data-aos="fade-right" data-aos-duration="3000" width="585"
          loading="lazy" alt="nft image work">
      </picture>
      <div class="work__top-inner-right">
        <span class="work__top-subtitle" data-aos="fade-left" data-aos-duration="3000">
          our work
        </span>
        <q class="work__top-title" data-aos="fade-left" data-aos-duration="2500">
          Um… what’s going on<br>here?
        </q>
        <p class="work__top-text" data-aos="fade-left" data-aos-duration="2500">
          Nulla facilisi. Praesent molestie diam eu enim aliquet pellentesque. Vestibulum consectetur vestibulum
          tristique. Sed purus neque, maximus fermentum bibendum et, porta in sapien.
        </p>
        <a class="work__top-btn" href="#" data-aos="fade-up-left" data-aos-duration="3000">About Codx</a>
      </div>
    </div>
    <div class="work__bottom-inner">
      <div class="work__bottom-inner-left">
        <ul class="work__bottom-list list-reset">
          <li class="work__bottom-item">
            <span class="work__bottom-number work__bottom-number--one">01</span>
            <h3 class="work__bottom-subtitle" data-aos="fade-up" data-aos-duration="2500">
              Motion Graphic
            </h3>
            <p class="work__bottom-text" data-aos="fade-up" data-aos-duration="3000">
              Suspendisse sem neque, auctor a elementum ut, varius vel leo. Donec diam arcu, porta et magna at
              Lorem ipsum dolor sit amet consectetur adipisicing elit. In itaque tempore facilis voluptatibus sapiente
              atque, vitae voluptate consequuntur tenetur at consequatur magni dolor animi ut possimus ipsum architecto
              minus libero.
            </p>
          </li>
          <li class="work__bottom-item">
            <span class="work__bottom-number work__bottom-number--two">02</span>
            <h3 class="work__bottom-subtitle" data-aos="fade-up" data-aos-duration="2500">
              Digital Illustration
            </h3>
            <p class="work__bottom-text" data-aos="fade-up" data-aos-duration="3000">
              Suspendisse sem neque, auctor a elementum ut, varius vel leo. Donec diam arcu, porta et magna at.
              Vero adipisci voluptatum aliquam, facere possimus placeat nam porro fugiat alias amet rerum. Eaque dolorem
              ducimus veritatis fugiat iusto harum modi, aliquid dolores impedit nulla officia blanditiis animi itaque
              voluptatem.
            </p>
          </li>
          <li class="work__bottom-item">
            <span class="work__bottom-number work__bottom-number--three">03</span>
            <h3 class="work__bottom-subtitle" data-aos="fade-up" data-aos-duration="2500">
              Photography
            </h3>
            <p class="work__bottom-text" data-aos="fade-up" data-aos-duration="3000">
              Lorem ipsum dolor sit amet consectetur.
              Suspendisse sem neque, auctor a elementum ut, varius vel leo. Donec diam arcu, porta et magna at
              Lorem ipsum dolor sit amet.
            </p>
          </li>
        </ul>
      </div>
      <picture>
        <source srcset="img/work-img-bottom.avif" type="image/avif">
        <source srcset="img/work-img-bottom.webp" type="image/webp">
        <source srcset="img/work-img-bottom.jpg">
        <img class="work__bottom-img" src="img/work-img-bottom.jpg" data-aos="fade-left" data-aos-duration="3000"
          width="552" loading="lazy" alt="nft image work">
      </picture>
    </div>
  </div>
  <picture>
    <source srcset="img/work-bottom-bg.avif" type="image/avif">
    <source srcset="img/work-bottom-bg.webp" type="image/webp">
    <source srcset="img/work-bottom-bg.jpg">
    <img class="work__bottom-bg" src="img/work-bottom-bg.png" width="1440" loading="lazy"
      alt="nft image background section">
  </picture>
</section>
